<style>
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 10px;
  }

  .footer-links ul li {
    display: inline-block;
    margin-right: 20px;
  }

  .footer-links ul li:hover {
    text-decoration: underline;
  }


  .footer-links ul li:last-child {
    margin-right: 0;
  }

  .footer-links ul li a {
    color: #fff;
    text-decoration: none;
  }

  .footer-info p {
    margin: 0;
  }

  .f-info-socials a {
    text-decoration: none;
  }

  .fa-square-facebook {
    color: rgb(23, 159, 244);
    font-size: 30px;
  }

  .fa-square-instagram {
    background: radial-gradient(circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    padding-left: 5px;
  }
</style>

<footer>
  <hr />
  <div class="footer-container">
    <div class="footer-links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="footer-info">
      <div class="f-info">
        <div class="f-info-socials">
          <a href="https://www.facebook.com/mohit.kumarthakur.3958?mibextid=ZbWKwL "><i
              class="fa-brands fa-square-facebook"></i> </a><a href="https://www.instagram.com/mohit._.thakur._.07/"><i
              class="fa-brands fa-square-instagram"></i>
          </a>
        </div>
        <div class="f-info-brand">&copy; Book Hub V2.0.0</div>
      </div>
      <p>Contact: mohitkumart19@gmail.com</p>
      <p>Phone: 88945 82454</p>
      <P><i>made with love &hearts;</i></P>
    </div>
  </div>
</footer>