<% layout('/layouts/boilerplate') -%>
<style>
    .err{
        margin: 10rem ;
    }
</style>

<div class="row err">
    <div><h1>ERROR:-</h1></div>
  <div class="alert alert-danger col-6 offset-3" role="alert">
    <h4 class="alert-heading"><%= message %></h4>
  </div>
</div>